<div class="col-md-3 menu-block">
    <ul class="list-group mt-3">
        <li class="list-group-item">
            <a class="text-decoration-none" href="/salary/list">Salary</a>
            <span class="float-right">
                <i class="fa-solid fa-user"></i>
            </span>
        </li>
        <li class="list-group-item">
            <a class="text-decoration-none" href="/job/list">Job</a>
            <span class="float-right">
                <i class="fa-solid fa-briefcase"></i>
            </span>
        </li>
    </ul>
</div>