.red-block {
    background-color: red;
    height: 150px;
}

.menu-block {
    background-color: white; 
    margin-top: -60px;
}

.inline {
    display: inline-block;
}

.float-right {
    float: right;
}

.mt--50 {
    margin-top: -50px;
}

.white {
    color: white;
}

.error {
    color: red;
}
