<div th:replace="fragments/header.html"></div>

<div class="fluid-container red-block">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div th:replace="fragments/menu.html"></div>
        <div class="col-md-9 mt--50">
            <h3 class="white">Edit job</h3>
            <div class="pt-3">
                <div class="alert alert-success" role="alert" th:if="${message}" th:utext="${message}"></div>
                <div>
                    <a href="/job/list" class="btn btn-info">
                        <i class="fa-solid fa-left-long"></i>
                    </a>
                    <div class="inline">
                        Back
                    </div>
                </div>
                <form class="mt-3" action="#" th:action="@{/job/{id}/update(id=${job.id})}" th:object="${job}" method="post">
                    <p>Name : <input class="form-control" type="text" th:field="*{name}" /></p>
                    <p class="error" th:utext="${resultError?.getFieldError('name')?.getDefaultMessage()}"></p>
                    <p>
                        <input type="reset" value="Reset" class="btn btn-secondary" />
                        <input type="submit" value="Submit" class="btn btn-primary" /> 
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>