<div th:replace="fragments/header.html"></div>

<div class="fluid-container red-block">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div th:replace="fragments/menu.html"></div>
        <div class="col-md-9 mt--50">
            <h3 class="white">Job</h3>
            <div class="pt-3">
                <div class="alert alert-success" role="alert" th:if="${message}" th:utext="${message}"></div>
                <div>
                    <a href="/job/new" class="btn btn-info">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <div class="inline">
                        Create job
                    </div>
                </div>
                <table class="table table-bordered mt-3">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Salaries</th>
                        <th scope="col">Actions</th>
                      </tr>
                      <tr th:each="job : ${jobs}">
                        <td th:utext="${job.name}"></td>
                        <td th:utext="${job.salaries.size()}"></td>
                        <td>
                            <a th:href="'/job/' + ${job.id} + '/edit'" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <form class="inline" action="#" th:action="'/job/' + ${job.id} + '/delete'" th:object="${salary}" method="post">
                                <button type="submit" class="btn btn-danger" th:disabled="${job.salaries.size() != 0}">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </td>
                        <tr th:if="${jobs.isEmpty()}">
                            <td class="text-center" colspan="3">
                                No records
                            </td>
                        </tr>
                    </tr>
                  </table>
            </div>
        </div>
    </div>
</div>