<div th:replace="fragments/header.html"></div>

<div class="fluid-container red-block">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div th:replace="fragments/menu.html"></div>
        <div class="col-md-9 mt--50">
            <h3 class="white">Edit salary</h3>
            <div class="pt-3">
                <div>
                    <a href="/salary/list" class="btn btn-info">
                        <i class="fa-solid fa-left-long"></i>
                    </a>
                    <div class="inline">
                        Back
                    </div>
                </div>
                <form class="mt-3" th:action="@{/salary/{id}/update(id=${salary.id})}" th:object="${salary}" method="post">
                    <p>Firstname : <input type="text" class="form-control" th:field="*{firstname}" /></p>
                    <p class="error" th:utext="${resultError?.getFieldError('firstname')?.getDefaultMessage()}"></p>
                    <p>Lastname : <input type="text" class="form-control" th:field="*{lastname}"></p>
                    <p class="error" th:utext="${resultError?.getFieldError('lastname')?.getDefaultMessage()}"></p>
                    <p>
                        Job : <select th:field="*{job}" class="form-control">
                            <option th:each="job: ${jobs}" th:value="${job.id}" th:text="${job.name}" />
                        </select>
                    </p>
                    <p>
                        <input type="reset" value="Reset" class="btn btn-secondary" />
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>