<div th:replace="fragments/header.html"></div>

<div class="fluid-container red-block">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div th:replace="fragments/menu.html"></div>
        <div class="col-md-9 mt--50">
            <h3 class="white">Salary</h3>
            <div class="pt-3">
                <div class="alert alert-success" role="alert" th:if="${message}" th:utext="${message}"></div>
                <div>
                    <a href="/salary/new" class="btn btn-info">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <div class="inline">
                        Create salary
                    </div>
                </div>
                <table class="mt-3 table table-bordered">
                      <tr>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Job</th>
                        <th scope="col">Actions</th>
                      </tr>
                      <tr th:each="salary : ${salaries}">
                        <td th:utext="${salary.firstname}"></td>
                        <td th:utext="${salary.lastname}"></td>
                        <td th:utext="${salary.job.name}"></td>
                        <td>                           
                            <a th:href="'/salary/' + ${salary.id} + '/edit'" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <form class="inline" action="#" th:action="'/salary/' + ${salary.id} + '/delete'" th:object="${salary}" method="post">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </td>
                        </tr>
                        <tr th:if="${salaries.isEmpty()}">
                            <td class="text-center" colspan="4">
                                No records
                            </td>
                        </tr>
                  </table>
            </div>
        </div>
    </div>
</div>